:root{
    --Color-Principal: #BE964D;
    --Color-Secundario: #E8E1D4;
    --Azul: #507B9C;
    --Negro: #202020;
    --Blanco: #F8F8F8;
    --Dorado-oscuro: #99732C;
    --Espaciado01: 6px;
    --Espaciado02: 12px;
    --Espaciado03: 27px;
    --Stroke01: 1px;
    --Stroke02: 2px;
    --Redondeado: 4px;
    --Opacidad: 80px;
}